html
{% include 'base.html' %}

{% block content %}
    <div class="container">
        <form method='POST' action="" class="border m-5 p-2">
            {{ form.csrf_token }}
            <legend>Cadastro Cliente/Fornecedores CPF:</legend>
            <fieldset>
                <div class="form-group">
                    {{ form.nome_completo.label(class="form-control-label") }}
                    {{ form.nome_completo(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.cpf.label(class="form-control-label") }}
                    {{ form.cpf(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.rua.label(class="form-control-label") }}
                    {{ form.rua(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.complemento.label(class="form-control-label") }}
                    {{ form.complemento(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.nro.label(class="form-control-label") }}
                    {{ form.nro(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.bairro.label(class="form-control-label") }}
                    {{ form.bairro(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.cidade.label(class="form-control-label") }}
                    {{ form.cidade(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.uf.label(class="form-control-label") }}
                    {{ form.uf(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.cep.label(class="form-control-label") }}
                    {{ form.cep(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.aniversario.label(class="form-control-label") }}
                    {{ form.aniversario(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.telefone.label(class="form-control-label") }}
                    {{ form.telefone(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.telefone2.label(class="form-control-label") }}
                    {{ form.telefone2(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.telefone3.label(class="form-control-label") }}
                    {{ form.telefone3(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.obs.label(class="form-control-label") }}
                    {{ form.obs(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.tipo_cadastro.label(class="form-control-label") }}
                    {{ form.tipo_cadastro(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.botao_submit(class="btn btn-primary") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}