{% extends 'home_contas_bancarias.html' %}

{% block central %}
    <div class="container">
        <form method='POST' action="" class="border m-5 p-2">
            {{ form.csrf_token }}
            <legend>Cadastro bancos:</legend>
            <fieldset>
                <div class="form-group">
                    {{ form.id_agencia.label(class="form-control-label") }}
                    {{ form.id_agencia(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.id_tipo_conta.label(class="form-control-label") }}
                    {{ form.id_tipo_conta(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.apelido_conta.label(class="form-control-label") }}
                    {{ form.apelido_conta(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.nro_conta.label(class="form-control-label") }}
                    {{ form.nro_conta(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.digito_conta.label(class="form-control-label") }}
                    {{ form.digito_conta(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.id_titular.label(class="form-control-label") }}
                    {{ form.id_titular(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.cheque_especial.label(class="form-control-label") }}
                    {{ form.cheque_especial(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.saldo_conta.label(class="form-control-label") }}
                    {{ form.saldo_conta(class="form-control") }}
                </div>
            </fieldset>
            {{ form.botao_finalizar(class="btn btn-primary m-1") }}
        </form>
    </div>
{% endblock %}