{% include 'base.html' %}

{% block content %}
    <div class="container">
        <form method='POST' action="" class="border m-5 p-2">
            {{ form.csrf_token }}
            <legend>Cadastro marcas:</legend>
            <fieldset>
                <div class="form-group">
                    {{ form.nome_marca.label(class="form-control-label") }}
                    {{ form.nome_marca(class="form-control-label") }}
                </div>
            </fieldset>
            {{ form.botao_submit(class="btn btn-primary m-1") }}
        </form>
    </div>
{% endblock %}