{% extends 'home_tamanhos.html' %}

{% block central %}
    <div class="container">
        <form method='POST' action="" class="border m-5 p-2">
            {{ form.csrf_token }}
            <legend>Cadastro tamanhos:</legend>
            <fieldset>
                <div class="form-group">
                    {{ form.tamanho.label(class="form-control-label") }}
                    {{ form.tamanho(class="form-control") }}
                </div>
            </fieldset>
            {{ form.botao_submit(class="btn btn-primary m-1") }}
        </form>
    </div>
{% endblock %}