{% include 'base.html' %}

{% block content %}
    <div class="container">
        <form method='POST' action="" class="border m-5 p-2">
            {{ form.csrf_token }}
            <legend>Cadastro conta bancária:</legend>
            <fieldset>
                <div class="form-group">
                    {{ form.id_agencia.label(class="form-control-label") }}
                    {{ form.id_agencia(class="form-control-label") }}
                </div>
                <div class="form-group">
                    {{ form.apelido_conta.label(class="form-control-label") }}
                    {{ form.apelido_conta(class="form-control-label") }}
                </div>
                <div class="form-group">
                    {{ form.nro_conta.label(class="form-control-label") }}
                    {{ form.nro_conta(class="form-control-label") }}
                </div>
                <div class="form-group">
                    {{ form.digito_conta.label(class="form-control-label") }}
                    {{ form.digito_conta(class="form-control-label") }}
                </div>
                <div class="form-group">
                    {{ form.cheque_especial.label(class="form-control-label") }}
                    {{ form.cheque_especial(class="form-control-label") }}
                </div>
                <div class="form-group">
                    {{ form.saldo_conta.label(class="form-control-label") }}
                    {{ form.saldo_conta(class="form-control-label") }}
                </div>
                <div class="form-group">
                    {{ form.campo_pesquisa.label(class="form-control-label") }}
                    {{ form.campo_pesquisa(class="form-control-label") }}
                </div>
            </fieldset>
            {{ form.botao_pesquisar_cpf(class="btn btn-primary m-1") }}
            {{ form.botao_pesquisar_cnpj(class="btn btn-primary m-1") }}
        </form>
    </div>
{% endblock %}