{% include 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Dados do Cadastro</h2>
        <p>Nome Fantasia: {{ cliente_fornecedor.nome_fantasia }}</p>
        <p>Razão Social: {{ cliente_fornecedor.razao_social }}</p>
        <p>CNPJ: {{ cliente_fornecedor.cnpj }}</p>
        <p>Rua: {{ cliente_fornecedor.rua }}</p>
        <p>Nro: {{ cliente_fornecedor.nro }}</p>
        <p>Complemento: {{ cliente_fornecedor.complemento }}</p>
        <p>Bairro: {{ cliente_fornecedor.bairro }}</p>
        <p>Cidade: {{ cliente_fornecedor.cidade }}</p>
        <p>UF: {{ cliente_fornecedor.uf }}</p>
        <p>CEP: {{ cliente_fornecedor.cep }}</p>
        <p>Fundação: {{ cliente_fornecedor.fundacao }}</p>
        <p>Telefone: {{ cliente_fornecedor.telefone }}</p>
        <p>Telefone 2: {{ cliente_fornecedor.telefone2 }}</p>
        <p>Telefone 3: {{ cliente_fornecedor.telefone3 }}</p>
        <p>Email: {{ cliente_fornecedor.email }}</p>
        <p>OBS.: {{ cliente_fornecedor.obs }}</p>
    </div>
{% endblock %}