{% extends 'clientes_fornecedores.html' %}

{% block central %}
    <div class="container">
        <h2>Dados do Cadastro</h2>
        <p>Nome Fantasia: {{ cliente_fornecedor.nome_fantasia }}</p>
        <p>Razão Social: {{ cliente_fornecedor.razao_social }}</p>
        <p>CNPJ: {{ configura_doscs('cnpj', cliente_fornecedor.cnpj) }}</p>
        <p>Rua: {{ cliente_fornecedor.rua }}</p>
        <p>Nro: {{ cliente_fornecedor.nro }}</p>
        <p>Complemento: {{ cliente_fornecedor.complemento }}</p>
        <p>Bairro: {{ cliente_fornecedor.bairro }}</p>
        <p>Cidade: {{ cliente_fornecedor.cidade }}</p>
        <p>UF: {{ cliente_fornecedor.uf }}</p>
        <p>CEP: {{ cliente_fornecedor.cep }}</p>
        <p>Fundação: {{ converte_data_string(cliente_fornecedor.data_fundacao.date()) }}</p>
        <p>Telefone: {{ cliente_fornecedor.telefone }}</p>
        <p>Telefone 2: {{ cliente_fornecedor.telefone2 }}</p>
        <p>Telefone 3: {{ cliente_fornecedor.telefone3 }}</p>
        <p>Email: {{ cliente_fornecedor.email }}</p>
        <p>OBS.: {{ cliente_fornecedor.obs }}</p>
        <a href="{{ url_for('edicao_clientes_fornecedores' , tipo_emp='cnpj', cliente_fornecedor_id=cliente_fornecedor.id) }}">Editar</a>
    </div>
{% endblock %}