{% include 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Dados do Cadastro</h2>
        <p>Conta: {{ conta.nro_conta }}</p>
        <p> Dgt Conta: {{conta.digito_conta }}</p>
        {% if titular.cpf %}
            <p>Titular Conta: {{ titular.id }} - {{ titular.nome }}</p>
        {% else %}
            <p>Titular Conta: {{ titular.id }} - {{ titular.razao_social }}</p>
        {% endif %}
        <p>Agencia: {{ agencia.agencia }}</p>
        <p>Dígito agência: {{ agencia.digito_agencia }}</p>
        <p>Banco: {{ banco.id }} - {{ banco.nome_banco }}</p>
        <p>Apelido Agencia: {{ agencia.apelido_agencia }}</p>
        <p>Fornecedor: {{ fornecedor.id }} - {{ fornecedor.razao_social }}</p>
        <p><a href="{{ url_for('editar_contas', id_conta=conta.id) }}">Editar</a></p>

    </div>
{% endblock %}