{% extends 'home_agencias_bancarias.html' %}

{% block central %}
    <div class="container">
        <form method='POST' action="" class="border m-5 p-2">
            {{ form_agencia.csrf_token }}
            <legend>Cadastro bancos:</legend>
            <fieldset>
                <div class="form-group">
                    {{ form_agencia.agencia.label(class="form-control-label") }}
                    {{ form_agencia.agencia(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form_agencia.digito_agencia.label(class="form-control-label") }}
                    {{ form_agencia.digito_agencia(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form_agencia.id_banco.label(class="form-control-label") }}
                    {{ form_agencia.id_banco(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form_agencia.apelido_agencia.label(class="form-control-label") }}
                    {{ form_agencia.apelido_agencia(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form_agencia.id_cliente.label(class="form-control-label") }}
                    {{ form_agencia.id_cliente(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form_agencia.situacao.label(class="form-control-label") }}
                    {{ form_agencia.situacao(class="form-control") }}
                </div>
            </fieldset>
            {{ form_agencia.botao_finalizar(class="btn btn-primary m-1") }}
        </form>
    </div>
{% endblock %}