{% extends 'home_tipo_roupa.html' %}

{% block central %}
    <div class="container">
        <form method='POST' action="" class="border m-5 p-2">
            {{ form.csrf_token }}
            <h3>Cadastro Tipo Roupas:</h3>
            <fieldset>
                <div class="form-group">
                    {{ form.nome_tipo_roupa.label(class="form-control-label") }}
                    {{ form.nome_tipo_roupa(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.situacao.label(class="form-control-label") }}
                    {{ form.situacao(class="form-control") }}
                </div>
            </fieldset>
            {{ form.botao_submit(class="btn btn-primary m-1") }}
        </form>
    </div>
{% endblock %}