{% extends 'home_cartao_credito.html' %}

{% block central %}
        <div class="container">
          <ul class="nav row nav-tabs justify-content-center"> <!-- Adicione a classe justify-content-center para centralizar a lista horizontalmente -->
            <li class="nav-item col m-3">
              <a class="nav-link {{ dados_fatura }} link-tabela text-center" href="{{ url_for('fatura_cartao_credito', id_fatura=fatura.id, id_cartao='1') }}">Dados Fatura</a>
            </li>
            <li class="nav-item col m-3">
              <a class="nav-link {{ extrato_fatura }} link-tabela text-center" href="{{ url_for('lista_extrato_fatura_cartao_credito', id_fatura=fatura.id, id_cartao=cartao.id) }}">Extrato Fatura</a>
            </li>
          </ul>
        {% block dados_lista %}

        <p>Código Fatura: {{ fatura.id  }}</p>
        <p>Competência: {{ fatura.cod_fatura[3:].replace('.', '/') }}</p>
        <p>Cartão Crédito: {{ cartao.apelido_cartao }}</p>
        <p>Data inicial: {{ converte_data_string(fatura.data_inicial)  }}</p>
        <p>Data final: {{ converte_data_string(fatura.data_final)  }}</p>
        <p>Data vencimento: {{ converte_data_string(fatura.data_vcto)  }}</p>
        <p>Data pagamento: {{ converte_data_string(fatura.data_pgto)  }}</p>
        <p>Valor limite: {{ cartao.valor_limite  }}</p>
        <p>Valor fatura: {{ fatura.valor_fatura  }}</p>
        <p>Valor pago: {{ fatura.valor_pago }}</p>
        <p>Valor disponível: {{ cartao.valor_disponivel  }}</p>
        <p>Data cadastro: {{ converte_data_string(cartao.data_cadastro)  }}</p>
        <p>Usuario cadastro: {{ usuario.username  }}</p>
        <p>Status cartão: {{ situacao_retorno(cartao.situacao) }}</p>
        <a href="{{ url_for('editar_fatura_cartao_credito', id_fatura=fatura.id, id_cartao=cartao.id) }}">Editar</a>
        <a href="{{ url_for('alterar_pagamento_faturaa_cartao_credito', id_fatura=fatura.id, id_cartao=cartao.id) }}">Inserir/Alterar Pagamento Fatura</a>
    {% endblock %}
    </div>
{% endblock %}

{% block submenu %}
<h2>Faturas Cartões de Crédito</h2>
{% endblock %}