{% extends 'home_atributos_banco.html' %}

            {% block menus %}
            <a href="{{ url_for('cadastro_conta_bancaria') }}" class="link-central">
                <h3 class="m-2 text-start">Cadastro</h3>
            </a>
            <a href="{{ url_for('lista_contas') }}" class="link-central">
                <h3 class="m-2 text-start">Lista</h3>
            </a>
            <a href="{{ url_for('recalcula_contas_bancarias') }}" class="link-central">
                <h3 class="m-2 text-start">Recalcula saldos contas bancárias</h3>
            </a>
            {% endblock %}
{% block submenu %}
<h2>Contas Bancárias</h2>
{% endblock %}