{% extends 'home_cores.html' %}

{% block central %}
<div class="container">
  <ul class="nav row nav-tabs justify-content-center"> <!-- Adicione a classe justify-content-center para centralizar a lista horizontalmente -->
    <li class="nav-item col m-3">
      <a class="nav-link {{ cor_ativo }} link-tabela text-center" href="{{ url_for('encaminha_lista_cores', situacao='1') }}">Ativos</a>
    </li>
    <li class="nav-item col m-3">
      <a class="nav-link {{ cor_inativo}} link-tabela text-center" href="{{ url_for('encaminha_lista_cores', situacao='2') }}">Inativos</a>
    </li>
  </ul>

  <table class="table table-striped table-hover align-middle background">
    <thead>
      <tr>
        <th style="width: 50px;">ID</th>
        <th style="width: 150px;">Cor</th>
        <th style="width: 100px;">Situação</th>
        <th style="width: 160px;">Data Cadastro</th>
      </tr>
    </thead>
    <tbody>
      {% for cor in cores %}
      <tr>
        <td><a class="link-tabela" href="{{ url_for('cor', cor_id=str(cor.id)) }}">{{ cor.id }}</a></td>
        <td>{{ cor.nome_cor }}</td>
        <td>{{ situacao_retorno(cor.situacao) }}</td>
        <td>{{ converte_data_string(cor.data_cadastro) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
