{% extends 'home_vendas_mercadoria.html' %}

{% block central %}
<div class="container">
  <ul class="nav row nav-tabs justify-content-center"> <!-- Adicione a classe justify-content-center para centralizar a lista horizontalmente -->
    <li class="nav-item col m-3">
      <a class="nav-link {{ vendas_nao_finalizadas }} link-tabela text-center" href="{{ url_for('encaminha_lista_tickets_vendas', situacao='1') }}">Vendas não Finalizadas</a>
    </li>
    <li class="nav-item col m-3">
      <a class="nav-link {{ vendas_finalizadas }} link-tabela text-center" href="{{ url_for('encaminha_lista_tickets_vendas', situacao='2') }}">Vendas Finalizadas</a>
    </li>
    <li class="nav-item col m-3">
      <a class="nav-link {{ vendas_devolvidas_ou_extornadas }} link-tabela text-center" href="{{ url_for('encaminha_lista_tickets_vendas', situacao='3') }}">Vendas Devolvidas ou extornadas</a>
    </li>
  </ul>

  <table class="table table-striped table-hover align-middle background">
    <thead>
      <tr>
        <th style="width: 70px;">Cód Ticket</th>
        <th style="width: 180px;">Nome Cliente</th>
        <th style="width: 70px;">Valor Final</th>
        <th style="width: 90px;">Qtd Itens</th>
        <th style="width: 90px;">Data Venda</th>
        <th style="width: 70px;">Situação</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
      <tr>
        <td><a class="link-tabela" href="{{ url_for('ticket_venda_mercadoria', id_ticket=ticket.id) }}">{{ ticket.id }}</a></td>
        <td>{{ clientes.query.filter_by(id=ticket.id_cliente).first().nome }}</td>
        <td>{{ ticket.valor_final }}</td>
        <td>{{ database.session.query(func.sum(itens_tickets.qtd)).filter(itens_tickets.id_ticket_comercial == ticket.id, itens_tickets.situacao_item_ticket.in_([0, 1])).scalar() or 0
        }}</td>
        <td>{{ converte_data_string(ticket.data_abertura) }}</td>
        <td>{{ situacoes[ticket.situacao] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}