{% extends 'home_itens_estoque.html' %}

{% block central %}
<div class="container">
  <ul class="nav row nav-tabs justify-content-center"> <!-- Adicione a classe justify-content-center para centralizar a lista horizontalmente -->
    <li class="nav-item col m-3">
      <a class="nav-link {{ itens_estoque_ativo }} link-tabela text-center" href="{{ url_for('encaminha_lista_itens_estoque', situacao='1') }}">Ativos</a>
    </li>
    <li class="nav-item col m-3">
      <a class="nav-link {{ itens_estoque_inativo}} link-tabela text-center" href="{{ url_for('encaminha_lista_itens_estoque', situacao='2') }}">Inativos</a>
    </li>
  </ul>

  <table class="table table-striped table-hover align-middle background">
    <thead>
      <tr>
        <th style="width: 140px;">Cód Item</th>
        <th style="width: 150px;">Tipo Roupa</th>
        <th style="width: 160px;">Gênero</th>
        <th style="width: 160px;">Cor</th>
        <th style="width: 160px;">Marca</th>
        <th style="width: 100px;">Tamanho</th>
        <th style="width: 60px;">Qtd Estoque</th>
      </tr>
    </thead>
    <tbody>
      {% for item in itens_estoque %}
      <tr>
        <td><a class="link-tabela" href="{{ url_for('itens_estoque_', itens_estoque_id=str(item.id)) }}">{{ item.codigo_item }}</a></td>
        <td>{{ tipo_roupa.query.filter_by(id=item.id_tipo_roupa).first().nome_tipo_roupa }}</td>
        <td>{{ genero.query.filter_by(id=item.id_genero).first().nome_genero }}</td>
        <td>{{ cor.query.filter_by(id=item.id_cor).first().nome_cor }}</td>
        <td>{{ marca.query.filter_by(id=item.id_marca).first().nome_marca }}</td>
        <td>{{ tamanho.query.filter_by(id=item.id_tamanho).first().nome_tamanho }}</td>
        <td>{{ item.qtd }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
