{% extends 'home_contas_bancarias.html' %}

{% block central %}
    <div class="container">
        <form method='POST' action="" class="border m-5 p-2">
            {{ form.csrf_token }}
            <legend>Cadastro conta bancária:</legend>
            <fieldset>
                <div class="form-group">
                    {{ form.id_agencia.label(class="form-control-label") }}
                    {{ form.id_agencia(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.id_tipo_conta.label(class="form-control-label") }}
                    {{ form.id_tipo_conta(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.apelido_conta.label(class="form-control-label") }}
                    {{ form.apelido_conta(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.nro_conta.label(class="form-control-label") }}
                    {{ form.nro_conta(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.digito_conta.label(class="form-control-label") }}
                    {{ form.digito_conta(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.cheque_especial.label(class="form-control-label") }}
                    {{ form.cheque_especial(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.saldo_conta.label(class="form-control-label") }}
                    {{ form.saldo_conta(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.campo_pesquisa.label(class="form-control-label") }}
                    {{ form.campo_pesquisa(class="form-control") }}
                </div>
            </fieldset>

        </form>
        <table class="table table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Razão Social</th>
                    <th>CNPJ</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Cidade</th>
                </tr>
            </thead>
            <tbody>
                {% for ser in search %}
                <tr>
                    <td><a href="{{ url_for('cadastro_titular_selecionado_conta', id_titular=ser.id) }}">{{ ser.id }}</a></td>
                    <td> {{ ser.razao_social }}</td>
                    <td> {{ ser.cnpj }}</td>
                    <td> {{ ser.telefone }}</td>
                    <td> {{ ser.email }}</td>
                    <td> {{ ser.cidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}